@import './styles/_variables.scss';

@font-face {
    font-family: 'Helvetica Neu';
    font-style: normal;
    src: local('Helvetica Neu'), url('./assets/fonts/HelveticaNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeuBold';
    src: local('HelveticaNeuBold'), url('./assets/fonts/HelveticaNeuBold.ttf') format('truetype');
}

@font-face {
    font-family: 'HelveticaNeuMedium';
    font-style: normal;
    src: local('HelveticaNeuMedium'), url('./assets/fonts/HelveticaNeueMedium.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Helvetica Neu', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: 'Helvetica Neu', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div, h1, h2, h3, h4, h5, span, p {
    font-family: 'Helvetica Neu', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.container-intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 50px 0;
}

@media screen and (max-width: 767px) {
    .container-intro {
        padding: 100px 10px 10px 10px;
    }
}

.row {
    margin: 0;
}

.iconIns, .iconFac {
    color: black;
}

.iconFac:hover {
    color: #007bff;
}

.iconIns:hover {
    color: var(--color-navy);
}

.carousel .slide {
    background: transparent !important;
}
